#Declare Tuples

In [ ]:
my_tuple = ()

In [ ]:
my_tuple = (1,2,3,4)

In [ ]:
my_tuple2 = (1,2,"hi",5.5)

In [ ]:
nes_tuple = (1,[5,6,7],("good morning",10))

In [ ]:
print(my_tuple)
print(my_tuple2)
print(nes_tuple)

(1, 2, 3, 4)
(1, 2, 'hi', 5.5)
(1, [5, 6, 7], ('good morning', 10))

#Indexing

In [ ]:
my_tuple[0]

1

In [ ]:
my_tuple2[2]

'hi'

In [ ]:
nes_tuple[-1][0]

'good morning'

#Slicing

In [ ]:
my_tuple[1:]

(2, 3, 4)

#List vs Tuples

In [ ]:
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)

In [ ]:
my_list[0] = 5

In [ ]:
print(my_list)

[5, 2, 3, 4]

In [ ]:
my_tuple[0] = 5

TypeError: ignored

#Declare Set

In [ ]:
s = {1,2,3,4,5}

In [ ]:
s

{1, 2, 3, 4, 5}

#Find Length

In [ ]:
print(len(s))

5

#Add Elements

In [ ]:
s.add("hi")

In [ ]:
print(s)

{1, 2, 3, 4, 5, 'hi'}

#List Vs Set

In [ ]:
my_list = [1,1,2,3,3,4]
print(my_list)

[1, 1, 2, 3, 3, 4]

In [ ]:
my_set = {1,1,2,3,3,4}
print(my_set)

{1, 2, 3, 4}